@import 'reset.css';

body{
  font: 400 16px/1.3 Verdana, Arial,sans-serif;
  color: #000;
  background-color: #fff;
}

header {
  margin: 6px;
  padding: 15px;
  background-color: #00a74f;
  border-radius: 6px;
}

header .container .logo{
  margin: auto;
  padding: 30px;
  float: left;
}

header .container .title{
  margin: auto;
  padding: 10px;

}

img {
  width: 100px;
}

header nav ul{
  float: right;
  margin: auto;
  /* width: 20px; */
  max-width: 1024px;
  border-radius: 5px;
  padding:16px;
  background-color: #00e76d;
  /* z-index: 3; */
}

header nav ul li{
  float: left;
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

header nav ul li a{
  color: #fff;
  margin:25px 0;
  padding: 15px;
  font-size: 1.3em;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

header nav ul li a:hover{
  color: #25527f;
  background-color: #fff;
}

.wrap{
  width: 100%;
  max-width:1024px;
  margin: auto;
}

.bolder{
  font-weight: bold;
}


h1{
  font-size: 2em;
  color: #fff;
  padding:10px;
  height:80px;
  width: 100%;
  text-align: center;
}

h2{
  color: #fff;
  margin:25px 0;
  padding: 15px;
  font-size: 1.3em;
  border-radius: 5px;
  background-color: #25527f;
}

div h2 a{
    list-style-type: none;
    color: #fff;
}

.wrap section {
  margin: auto;
  padding: 15px;
}

/*------------------------RESPONSIVE--------------------------------*/

@media screen and (max-width:700px) {

  #header nav{
    height: 50px;

  }

  #header nav ul li {
    width: 100%;
    padding:15px;
    margin: auto;
  }

#header{
    background-color:rgba(235, 234, 216,.5);
}

#header h2{
  width: 100%;
  text-align: center;
}

.wrap{
  padding:3%;
  text-align:center;
}

/*---------------------FOOTER------------------*/

#footer{
  display: inline-block;
}

#footer{
  width: 100%;
  margin: 0 auto;
  background-color: #DBD5BB;
}
.piedpage{
  float: left;
}

.sectionFinale p{
  text-align: center;
}
