@import 'reset.css';

body{
  font: 400 16px/1.3 Verdana, Arial,sans-serif;
  color: #000;
  background-image:url(" ../image/vaccination_bg.jpg");

}

.wrap{
  width: 100%;
  max-width:1024px;
  margin:0 auto;
}

.bolder{
  font-weight: bold;
}

#header{
  background-color: ;
}
h1{
  font-size: 2em;
  color: #fff;
  padding:10px;
  text-align: center;
}
h2{
  color: #fff;
  margin:25px 0;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 5px;
  background-color: #25527f;
}
header#header nav ul{
  position: fixed;
  float: left;
  top:0;
  width: 100%;
  max-width: 1024px;
  border-radius: 5px;
  padding:16px;
  background-color: #25527f;
}
header#header nav ul li{
  float: left;
  display: inline-block;
  list-style-type: none;
  text-align: center;
}
header#header nav ul li a{
  color: #fff;
  margin:25px 0;
  padding: 15px;
  font-size: 1.3em;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}
header#header nav ul li a:hover{
  color: #25527f;
  background-color: #fff;
  width: 100%;
}

div h2 a{
    list-style-type: none;
    color: #fff;
}
#footer{
  display: inline-block;
}

/*------------------------RESPONSIVE--------------------------------*/

@media screen and (max-width:700px) {

  #header nav{
    height: 50px;
    background-color: rgba(235, 234, 216,0);
  }

  #header nav ul li {
    width: 100%;
    background-color:rgba(235, 234, 216,.5);
    padding:15px;
    margin: auto;
  }

#header{
    background-color:rgba(235, 234, 216,.5);
}

#header h2{
  width: 100%;
  text-align: center;
}

.wrap{
  padding:3%;
  text-align:center;
}

/*---------------------FOOTER------------------*/
#footer{
  width: 100%;
  margin: 0 auto;
  background-color: #DBD5BB;


}

.piedpage{
  float: left;
  width: 33.3333333333333333333333333%;
  padding:0 5px;/*left right*/
  line-height: 1;
  margin: 30px 0;/*top bottom*/

}

.sectionFinale p{
  text-align: center;
}
